# Build output
bin/
obj/
artifacts/
TestResults/
*.trx

# Fallout
.fallout/temp/

# IDE
.vs/
.idea/
*.user
*.suo
*.DotSettings.user
.vscode/

# NuGet
*.nupkg
*.snupkg

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env.*
appsettings.*.local.json
